footer.footer
    .footer__icon
        
    span.footer__text &copy; #{new Date().getFullYear()} NETFLIEX
    div.footer__text present : #{new Date().getFullYear()} #{new Date().getMonth()+1} #{new Date().getDate()}