header.header
    .header__column
        a(href=routes.home)
            img(src="../image1.png")
    .header__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Logged In
    .header__column
    .header__column
    .header__column
    .header__column
    .header__column
    .header__column

    